INTERFACE_TYPE=tcp
TCP_NODE_HOST=192.168.50.50
TCP_NODE_PORT=4404
VERBOSE=false
ENV_HOT_RELOAD_ENABLED=true
ENV_HOT_RELOAD_INTERVAL_SECONDS=2
MQTT_LISTENER_ENABLED=false
MQTT_LISTENER_PORTS=
MQTT_LISTENER_EXCLUDE_PORTS=
MQTT_LISTENER_DM_ONLY=false
MQTT_LISTENER_GROUP_ONLY=false
MQTT_LISTENER_TEXT_ONLY=false
MQTT_LISTENER_INCLUDE_RAW=true
MQTT_NODE_LIST_ENABLED=true
MQTT_NODE_LIST_INTERVAL_SECONDS=3600
MQTT_NODE_LIST_RETAIN=true
