INTERFACE_TYPE=tcp
TCP_NODE_HOST=192.168.50.50
TCP_NODE_PORT=4404
MQTT_LISTENER_ENABLED=false
MQTT_LISTENER_PORTS=
MQTT_LISTENER_DM_ONLY=false
MQTT_LISTENER_GROUP_ONLY=false
MQTT_LISTENER_TEXT_ONLY=false
